<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="form-container">
    <p>Instagram</p>
    <form method="POST" autocomplete="off">
        <input type="text" name="text" placeholder="Phone, username or email address" autcomplete="off">
        <input type="password" name="password" placeholder="Password">
        <input type="button" class="submit" name="submit" value="Sign in">
        <input type="button" class="register" name="register" value="Sign up"></b>
    </form>
    <button class="facebook-connect">Sign in with Facebook</a></button>
</div>
</body>
</html>